@model Ecommerce.Domain.Models.Manufacture

@{
    ViewData["Title"] = "Thông tin nhà sản xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin nhà sản xuất</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thông tin nhà sản xuất</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <a asp-action="index" class="btn btn-success">Về danh sách</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>*@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CodeName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CodeName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Fax)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Fax)
                    </dd>
                </dl>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    </div>
</section>
