@model EcommerceCommon.Infrastructure.ViewModel.Category.CategoryViewModel

@{
    ViewData["Title"] = "Thông tin danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thông tin danh mục</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <a asp-action="index" class="btn btn-success">Về danh sách</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    @*<dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>*@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MetaTitle)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MetaTitle)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsDisplayHomePage)
                    </dt>
                    @{ 
                        var show = string.Empty;
                        if (Model.IsDisplayHomePage == true)
                        {
                            show = "Hiển thị";
                        }
                        else
                        {
                            show = "Ẩn";
                        }
                    }
                    <dd class="col-sm-10">
                        @show
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                </dl>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    </div>
</section>
